html {
  font-family: sans-serif;
  font-size: 16px;
}

input, select, textarea {
  font-size: 16px;
}

.pq-readonly {
  color: #aaaaaa;
  border-color: #aaaaaa;
}

button.pq-button {
  border: 0;
  background-color: #3498db;
  color: #ffffff;
  outline: 0;
  padding: 10px 37.5px 10px 37.5px;
  font-size: 1em;
}

button.pq-button:hover {
  background-color: #2e8ac7;
}

button.pq-button:active {
  background-color: #2878ad;
}

.pq-icon {
  fill: #ffffff;
}

.pq-icon-button {
  border: 0;
  background-color: #3498db;
  color: #ffffff;
  outline: 0;
  padding: .25em .25em .25em .25em;
  margin: 2px 2px 2px 2px;
  width: 24px;
  height: 24px;
}

.pq-icon-link {
  border: 0;
  background-color: #3498db;
  color: #ffffff;
  outline: 0;
  padding: .25em .25em .25em .25em;
  margin: 2px 2px 2px 2px;
  width: 16px;
  height: 16px;
  display: inline-block;
}

nav.pq-navigation {
  background-color: #3498db;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pq-navigation-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pq-navigation-title {
  font-size: 1.25em;
  list-style-type: none;
  padding-inline-start: .25em;
  align-self: flex-start;
}

.pq-nav-button-bar {
  display: flex;
  align-items: center;
}

input.pq-nav-checkbox {
  display: none;
}

input.pq-nav-checkbox:checked ~ .pq-menu {
  display: block;
}

.pq-nav-icon-button {
  width: 32px;
  height: 32px;
  fill: #ffffff;
  margin: 0 1em 0 1em;
}

.pq-nav-menu {
  width: 32px;
  height: 32px;
  fill: #ffffff;
  margin: 0 1em 0 1em;
}

.pq-menu {
  background-color: #3498db;
  color: #ffffff;
  display: none;
  position: fixed;
  top: 3.5em;
  left: 8px;
}

.pq-menu ul {
  padding-inline-start: .75em;
}

.pq-menu ul li {
  margin: 0.25em 2.5em 0.25em .25em;
}

nav ul {
  list-style-type: none;
}

nav ul li.pq-menu-item {
  display: inline-flex;
  margin: 0.3em 1em;
}

.pq-hide {
  display: none
}

.pq-float-right {
  float: right;
}

.pq-menu-link {
  color: #ffffff;
  text-decoration: none;
}

.pq-header {
  background-color: #3498db;
  color: #ffffff;
  padding: 1em 1em 1em 1em;
}

.pq-header-text {
  font-size: 1.25em;
}

.pq-puzzle-img {
  width: 100%;
  height: auto;
}

.pq-form-element {
  margin: 0.5rem;
}

.pq-label {
  font-size: 0.75rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  margin-bottom: 0.125rem;
}

.pq-link {
  text-decoration: underline;
  color: #3498db;
}

.pq-grid-title {
  background-color: #3498db;
  color: #ffffff;
  padding: 1em 1em 1em 1em;
}

.pq-grid-title-text {
  font-size: 1.25em;
}

.pq-grid-header-cell {
  padding: .75em .75em .75em .75em;
  font-size: 1em;
  background-color: #c9c9c9;
}

.pq-grid-data-cell {
  padding: .75em .75em .75em .75em;
  font-size: 1em;
}

.pq-grid-row-selected {
  background-color: #9ed0f1;
}

.pq-modal-overlay {
  top: 0;
  left: 0;
  width: 100vw;
  height: 0vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: 999;
}

.pq-modal-overlay-open {
  height: 100vh;
}

.pq-modal {
  width: 95vw;
  max-width: 600px;
  max-height: 700px;
  position: relative;
  overflow: hidden;
  border-radius: 0.5em;
  margin: 10% auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.pq-modal-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}

.pq-modal-close-button:before {
  position: absolute;
  content: '';
  width: 1.25rem;
  height: 0.125rem;
  background-color: black;
  transform: rotate(-45deg);
}

.pq-modal-close-button:after {
  position: absolute;
  content: '';
  width: 1.25rem;
  height: 0.125rem;
  background-color: black;
  transform: rotate(45deg);
}

.pq-modal-header {
  min-height: 2.5rem;
  height: 2.5rem;
  display: grid;
  padding-left: 1em;
  padding-right: 1em;
  align-items: center;
  grid-template-columns: auto 2.5rem;
}

.pq-modal-header h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.pq-modal-body {
  flex: 1;
  text-align: left;
  align-self:center;
  overflow: auto;
  padding: 1em;
}

.pq-modal-content {
  position: relative;
  display: flex;
}

.pq-modal-footer {
  height: auto;
  text-align: right;
  border-top: solid 1px #cccccc;
  padding: 1rem;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

button.pq-modal-footer-button {
  border: 0;
  background-color: #3498db;
  color: #ffffff;
  outline: 0;
  padding: 10px 37.5px 10px 37.5px;
  font-size: 1em;
  margin: 0 .25em 0 .25em;
}

button.pq-modal-footer-button:disabled {
  background-color: #777777;
}

.pq-qr-code {
  height: 250px;
  width: 250px;
  object-fit: contain;
}

.pq-code-scanner {
  display: flex;
}

.pq-camera-image {
  display: flex;
  justify-content: center;
  position: relative;
}

.pq-scan-code-button {
  z-index: 100;
  position: absolute;
  bottom: 15px;
}

.pq-scan-code-button button {
  height: 100px;
  width: 100px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.5);
  fill: #ffffff;
  color: #ffffff;
}

.pq-puzzle-video-content {
  display: flex;
  justify-content: center;
}

.pq-puzzle-video-content video {
  width: 320px;
}

.pq-quest {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: .5em;
  margin: 1em 0 1em 0;
  border: solid #3498db;
  border-radius: 5px;
  background-color: #dbeaf4;
}

.pq-quest-link {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  display: flex;
  padding: .25em;
}

.pq-quest-status {
  grid-column-start: 3;
  text-align: right;
  grid-row-start: 1;
  grid-row-end: 1;
  padding: .25em;
}

.pq-quest-time {
  font-size: .75em;
  align-self: start;
  grid-row-start: 2;
  grid-row-end: 2;
  padding: .25em;
}

.pq-quest-puzzle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: .5em;
  margin: 1em 0 1em 0;
  border: solid #3498db;
  border-radius: 5px;
  background-color: #dbeaf4;
}

.pq-quest-puzzle-link {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  display: flex;
  padding: .25em;
}

.pq-quest-puzzle-status {
  grid-column-start: 4;
  text-align: right;
  grid-row-start: 1;
  grid-row-end: 1;
  padding: .25em;
}

.pq-quest-puzzle-time {
  font-size: .75em;
  align-self: start;
  grid-row-start: 2;
  grid-row-end: 2;
  padding: .25em;
}

.pq-quest-puzzle-solution {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 3;
  grid-row-end: 3;
  display: flex;
  padding: .25em;
}

.pq-data-highlight {
  animation: flash-highlight 2s;
}

@keyframes flash-highlight {
  from {
    background-color: yellow;
  }
}

.pq-fireworks {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  font-size: 1.75em;
  z-index: 999;
}

.pq-fireworks-text {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pq-fireworks > .pq-before,
.pq-fireworks > .pq-after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

.pq-fireworks > .pq-after {
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
   }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
   }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
