html {
  font-family: sans-serif;
}

.pq-readonly {
  color: #aaaaaa;
  border-color: #aaaaaa;
}

button.pq-button {
  border: 0;
  background-color: #3498db;
  color: #ffffff;
  outline: 0;
  padding: 10px 37.5px 10px 37.5px;
  font-size: 1em;
}

button.pq-button:hover {
  background-color: #2e8ac7;
}

button.pq-button:active {
  background-color: #2878ad;
}

.pq-icon {
  fill: #ffffff;
}

.pq-icon-button {
  border: 0;
  background-color: #3498db;
  color: #ffffff;
  outline: 0;
  padding: .25em .25em .25em .25em;
  margin: 2px 2px 2px 2px;
  width: 24px;
  height: 24px;
}

.pq-icon-link {
  border: 0;
  background-color: #3498db;
  color: #ffffff;
  outline: 0;
  padding: .25em .25em .25em .25em;
  margin: 2px 2px 2px 2px;
  width: 16px;
  height: 16px;
  display: inline-block;
}

nav.pq-navigation-header {
  background-color: #3498db;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul.pq-navigation-title {
  font-size: 1.25em;
  list-style-type: none;
  padding-inline-start: .75em;
}

input.pq-nav-checkbox {
  display: none;
}

.pq-nav-menu {
  width: 32px;
  height: 32px;
  fill: #ffffff;
  margin: 0 1em 0 1em;
}

.pq-menu {
  background-color: #3498db;
  color: #ffffff;
  display: none;
  position: fixed;
  top: 3.5em;
  right: 8px;
}

.pq-menu ul {
  padding-inline-start: .75em;
}

.pq-menu ul li {
  margin: 0.25em 2.5em 0.25em .25em;
}

input.pq-nav-checkbox:checked ~ .pq-menu {
  display: block;
}

nav ul {
  list-style-type: none;
}

nav ul li.pq-menu-item {
  display: inline-flex;
  margin: 0.3em 1em;
}

.pq-hide {
  display: none
}

.pq-float-right {
  float: right;
}

.pq-menu-link {
  color: #ffffff;
  text-decoration: none;
}

.pq-header {
  background-color: #3498db;
  color: #ffffff;
  padding: 1em 1em 1em 1em;
}

.pq-header-text {
  font-size: 1.25em;
}

.pq-puzzle-img {
  width: 100%;
  height: auto;
}

.pq-form-element {
  margin: 0.5rem;
}

.pq-label {
  font-size: 0.75rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  margin-bottom: 0.125rem;
}

.pq-link {
  text-decoration: underline;
  color: #3498db;
}

.pq-grid-title {
  background-color: #3498db;
  color: #ffffff;
  padding: 1em 1em 1em 1em;
}

.pq-grid-title-text {
  font-size: 1.25em;
}

.pq-grid-header-cell {
  padding: .75em .75em .75em .75em;
  font-size: 1em;
  background-color: #c9c9c9;
}

.pq-grid-data-cell {
  padding: .75em .75em .75em .75em;
  font-size: 1em;
}

.pq-grid-row-selected {
  background-color: #9ed0f1;
}

.pq-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 0vh;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: 999;
}

.pq-modal-overlay-open {
  height: 100vh;
}

.pq-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  margin: 0;
  padding: 2.5rem;
  background-color: white;
  border-radius: 0.3125rem;
}

.pq-modal-close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}

.pq-modal-close-button:before {
  position: absolute;
  content: '';
  width: 1.25rem;
  height: 0.125rem;
  background-color: black;
  transform: rotate(-45deg);
}

.pq-modal-close-button:after {
  position: absolute;
  content: '';
  width: 1.25rem;
  height: 0.125rem;
  background-color: black;
  transform: rotate(45deg);
}

.pq-modal-header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0 0 1.25rem;
}

.pq-modal-header h2 {
  position: relative;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
}

.pq-modal-body {
  font-size: 0.875rem;
  line-height: 1.75;
}

.pq-modal-content {
  position: relative;
  display: flex;
}

.pq-modal-footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  padding: 1.875rem 0 0;
}

button.pq-modal-footer-button {
  border: 0;
  background-color: #3498db;
  color: #ffffff;
  outline: 0;
  padding: 10px 37.5px 10px 37.5px;
  font-size: 1em;
  margin: 0 .25em 0 .25em;
}

button.pq-modal-footer-button:disabled {
  background-color: #777777;
}

.pq-qr-code {
  height: 250px;
  width: 250px;
  object-fit: contain;
}

.pq-code-scanner {
  display: flex;
}

.pq-camera-image {
  display: flex;
  justify-content: center;
  position: relative;
}

.pq-scan-code-button {
  z-index: 100;
  position: absolute;
  bottom: 15px;
}

.pq-scan-code-button button {
  height: 100px;
  width: 100px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.5);
  fill: #ffffff;
  color: #ffffff;
}
