button.pq-button {
  border: 0;
  background-color: #3498db;
  color: #ffffff;
  outline: 0;
  padding: 10px 37.5px 10px 37.5px;
  font-size: 1em;
}

button.pq-button:hover {
  background-color: #2e8ac7;
}

button.pq-button:active {
  background-color: #2878ad;
}

nav {
  background-color: #3498db;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-flex;
  margin: 0.3em 1em;
}

a.menu-link {
  color: #ffffff;
  text-decoration: none;
}
