<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Login to PuzzleQuest</title>
    <link rel="stylesheet" type="text/css" href="/style/pq.css" />
    <link rel="icon" type="image/png" href="/image/pq-logo-64.png" sizes="64x64 32x32 24x24 16x16" />
    <link rel="icon" type="image/png" href="/image/pq-logo-192.png" sizes="192x192" />
  </head>
  <body>
    <video id="video" muted="muted" autoplay="autoplay" playsinline="playsinline">Video stream not available.</video>
    <canvas id="canvas"></canvas>
    <button id="startbutton">Take photo</button>
    <div id="log"></div>
    <script type="text/javascript" src="/script/activate.js"></script>
  </body>
</html>
