<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>PuzzleQuest</title>
    <link rel="stylesheet" type="text/css" href="/style/pq.css" />
    <link rel="icon" type="image/png" href="/image/pq-logo-64.png" sizes="64x64 32x32 24x24 16x16" />
    <link rel="icon" type="image/png" href="/image/pq-logo-192.png" sizes="192x192" />
  </head>
  <body>
    <nav>
      <ul>
        <li><%=user.displayName %></li>
      </ul>
      <ul>
        <li data-api-endpoint="">
         <a
          id="quests"
          class="pq-menu-link"
          href="#"
          data-api-endpoint="/api/quest/list"
        >
          Quests
         </a>
        </li>
        <li data-api-endpoint="">
          <a
            id="puzzles"
            class="pq-menu-link"
            href="#"
            data-api-endpoint="/api/puzzle/list"
          >
            Puzzles
          </a>
        </li>
        <li>
          <a
            id="users"
            class="pq-menu-link"
            href="#"
            data-api-endpoint="/api/user/list"
          >
            Users
          </a>
        </li>
        <li><a id="teams" class="pq-menu-link" href="#" data-api-endpoint="/api/teams/list">Teams</a></li>
        <li><a class="pq-menu-link" href="/logout">Logout</a></li>
      </ul>
    </nav>
    <p>Welcome back <%=user.displayName %></p>
    <p>You are logged in with administrative privileges.</p>
    <div id="data-grid" class="pq-hide"></div>
    <script type="module" src="/script/admin.js"></script>
  </body>
</html>
