<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>PuzzleQuest</title>
    <link rel="stylesheet" type="text/css" href="/style/pq.css" />
    <link rel="icon" type="image/png" href="/image/pq-logo-64.png" sizes="64x64 32x32 24x24 16x16" />
    <link rel="icon" type="image/png" href="/image/pq-logo-192.png" sizes="192x192" />
  </head>
  <body>
    <h1>PuzzleQuest</h1>
    <p>Welcome to the PuzzleMaster's domain. Are you ready to play?</p>
    <p>
      <button id="login" class="pq-button">Sign in</button>&nbsp;<button id="register" class="pq-button">Sign up</button>
    </p>
    <script type="text/javascript" src="/script/index.js"></script>
  </body>
</html>
