<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Login to PuzzleQuest</title>
    <link rel="stylesheet" type="text/css" href="/style/pq.css" />
  </head>
  <body>
    <div>
      <label for="userName">User Name:</label>&nbsp;<input id="userName" />
    </div>
    <div>
      <label for="password">Password:</label>&nbsp;
      <input id="password" type="password" />
    </div>
    <div>
      <button id="login" class="pq-button">Login</button>&nbsp;
      <button id="cancel" class="pq-button">Cancel</button>
    </div>
    <div class="loginError" hidden>
      <span>Invalid user name or password</span>
    </div>
    <form id="tokenForm" method="post" action="/login" hidden>
      <input id="token" name="token" />
      <input name="submitButton" type="submit" />
    </form>
    <script type="text/javascript" src="/script/login.js"></script>
  </body>
</html>
