<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>PuzzleQuest</title>
    <link rel="stylesheet" type="text/css" href="/style/pq.css" />
  </head>
  <body>
    <p>Welcome back <%=user.displayName %></p>
    <p>
      <a href="/logout">Logout</a>
    </p>
  </body>
</html>
