<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>User Details</title>
    <link rel="stylesheet" type="text/css" href="/style/pq.css" />
  </head>
  <body>
    <p>User name: <span id="userName"></span></p>
    <p>Display name: <span id="displayName"></span></p>
    <p>Email: <span id="email"></span></p>
    <p>SMS number: <span id="sms"></span></p>
    <p class="pq-hide">Authorization level: <span id="authLevel"></span></p>

    <script type="text/javascript" src="/script/user.js"></script>
    <script>
      populateUser("<%=userName %>");
    </script>
  </body>
</html>
